[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "==9.1.0"
pyyaml = "==6.0"
attrdict = "==2.0.1"
keras = "==2.8.0"
opencv-python = "==4.5.5.64"
tensorflow = "==2.8.0"
jupyter = "*"
numpy = "==1.22.3"
pandas = "==1.4.2"
peakdetect = "==1.1"
tqdm = "==4.64.0"
scikit-image = "==0.19.2"
albumentations = "==1.1.0"
imutils = "*"
matplotlib = "==3.5.2"
ctc-decoder = {editable = true, git = "https://github.com/githubharald/CTCDecoder.git"}

[dev-packages]

[requires]
python_version = "3.8"
