[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "==9.1.0"
pyyaml = "==6.0"
attrdict = "==2.0.1"
keras = "==2.8.0"
opencv-python = "==4.5.5.64"
tensorflow = "==2.8.0"
jupyter = "*"
numpy = "==1.22.3"
peakdetect = "==1.1"

[dev-packages]

[requires]
python_version = "3.8"
